<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1 style="color: red; font-weight: bold; font-size: 36px; font-" > hola este es el saludo de la pagina web  </h1> 
    
    <p>el nombre de la persona es: {{nombre_persona.upper}} {{apellido_persona.upper}} <p>
    
    <p>
      Hoy es:   {{tiempo.day|upper}} del mes 0{{tiempo.month}} del a&ntildeo {{tiempo.year}} y son las {{tiempo.time}}
    </p>
    <p>
        
    {% if temas %}
        {% for programas in temas %}

          <li>  {{programas|upper}} </li>

        {% endfor %}
    {% else %}
    <p>No hay temas</p>
    
    {% endif %}
        </ul>
        
        
    <p/>
</body>
</html>
 
